﻿@using Admin.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Jasa Detail MCU Paket</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Id" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Nama" class="form-control all-readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total Harga</label>
                                    <div class="col-md-9">
                                        <input type="text" name="TotalHarga" class="text-right form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total Harga HC</label>
                                    <div class="col-md-9">
                                        <input type="text" name="TotalHargaHC" class="text-right form-control all-readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center">
                                                    <a class="view-hide" onclick="itablelookupjasa.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">ID</td>
                                                <td>Nama</td>
                                                <td class="text-center" style="width:150px;">Section</td>
                                                <td class="text-center" style="width:80px;">Qty</td>
                                                <td class="text-center" style="width:100px;">Harga</td>
                                                <td class="text-center" style="width:100px;">Harga HC</td>
                                                <td class="text-center" style="width:100px;">Jumlah</td>
                                                <td>Kelompok</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modaldetailkomponen" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detail Komponen</h4>
            </div>
            <form autocomplete="off" onsubmit="isetup.detailkomponenonsubmit(event);">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td>Komponen</td>
                                                <td class="text-right" style="width:150px;">Harga</td>
                                                <td class="text-right" style="width:150px;">Harga HC</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer view-hide">
                    <button type="button" onclick="isetup.deletedetailkomponen()" class="btn btn-danger pull-left"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['Nama'].value = r.Data.Nama;
                    t['TotalHarga'].value = getcurrencyfromfloat(r.Data.TotalHarga) || '0';
                    t['TotalHargaHC'].value = getcurrencyfromfloat(r.Data.TotalHargaHC) || '0';

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Nama,
                            value.SectionId,
                            value.SectionNama,
                            value.Qty,
                            value.Harga,
                            value.HargaHC,
                            value.Kelompok
                        );
                    });

                    isetup.DetailKomponen = r.DetailDetail;

                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(isetup.form['Id']).attr('readonly', 'readonly');
                    }

                    if (isetup.form['_PROCESS'].value === 'VIEW')
                        $('#modaldetailkomponen .view-hide').hide();
                    else
                        $('#modaldetailkomponen .view-hide').show();

                    isetup.modal.modal({ backdrop: 'static' });
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: isetup.form['Id'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Section: $(value).find('.Section').val(),
                                Harga: getfloatfromcurrency($(value).find('.Harga').html()),
                                HargaHC: getfloatfromcurrency($(value).find('.HargaHC').html()),
                                Kelompok: $(value).find('.Kelompok').val(),
                                Qty: $(value).find('.Qty').val(),
                                Detail: isetup.DetailKomponen.filter(x => x.JasaId === $(value).data('id')).map(y => ({
                                    Id: y.Id,
                                    Harga: y.Harga,
                                    HargaHC: y.HargaHC
                                }))
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        isetup.detailsectionoptions = '@Html.Raw(HList.Jasa_DetailMCUPaket_Section)';

        isetup.hitungtotal = () => {
            let harga = 0;
            let hargahc = 0;
            $(isetup.form).find('tbody tr').each((i, v) => {
                harga += getfloatfromcurrency($(v).find('.Jumlah').html());
                hargahc += getfloatfromcurrency($(v).find('.HargaHC').html());
            });
            isetup.form['TotalHarga'].value = getcurrencyfromfloat(harga) || '0';
            isetup.form['TotalHargaHC'].value = getcurrencyfromfloat(hargahc) || '0';
        };

        isetup.hitungjumlah = (t) => {
            if (isetup.form['_PROCESS'].value === 'VIEW') return;
            const qty = parseFloat(t.value) || 0;
            const harga = getfloatfromcurrency($(t).closest('tr').find('.Harga').html());
            const jumlah = harga * qty;
            $(t).closest('tr').find('.Jumlah').html(getcurrencyfromfloat(jumlah));
            isetup.hitungtotal();
        };

        isetup.adddetailbody = (id, nama, section, qty, harga, hargahc, kelompok) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            const jumlah = qty * harga;
            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += `<a href="#" onclick="isetup.openmodaldetailkomponen('${id}')" class="text-info"><i class="icon-eye"></i></a>`;
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + id + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += `<td><select class='Section'>${isetup.detailsectionoptions}</select></td>`;
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += '<td class="td-text text-right Harga">' + (getcurrencyfromfloat(harga) || '0') + '</td>';
            _detail += '<td class="td-text text-right HargaHC">' + (getcurrencyfromfloat(hargahc) || '0') + '</td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || '0') + '</td>';
            _detail += '<td><input type="text" class="form-control Kelompok" value="' + kelompok + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
            $(isetup.form).find('tbody tr:last .Section').val(section);
            $(isetup.form).find('tbody tr:last .Section').select2();
            isetup.hitungtotal();
        };

        // =====================

        isetup.DetailActhive = '';
        isetup.DetailKomponen = [];
        isetup.DetailKomponenClave = [];

        $('#modaldetailkomponen').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        isetup.deletedetailkomponen = () => {
            removedetail($(isetup.form).find(`.input-detail tr[data-id="${isetup.DetailActhive}"]`));
            isetup.DetailKomponen = isetup.DetailKomponen.filter(x => x.JasaId != isetup.DetailActhive);
            isetup.hitungtotal();
            $('#modaldetailkomponen').modal('hide');
            isetup.DetailActhive = '';
        };

        isetup.openmodaldetailkomponen = (id) => {
            $('#modaldetailkomponen .input-detail tbody').html('');
            isetup.DetailActhive = id;
            isetup.DetailKomponenClave = [];
            isetup.DetailKomponen.filter(x => x.JasaId === id).forEach(x => {
                let tr = ``;
                tr += `<tr data-id='${x.Id}'>`;
                tr += `<td class="td-text">${x.Nama}</td>`;
                tr += `<td><input type='text' ${isetup.form['_PROCESS'].value === 'VIEW' ? 'readonly' : ''} class='form-control text-right Harga' value='${x.Harga}'/></td>`;
                tr += `<td><input type='text' ${isetup.form['_PROCESS'].value === 'VIEW' ? 'readonly' : ''} class='form-control text-right HargaHC' value='${x.HargaHC}'/></td>`;
                tr += `</tr>`;
                $('#modaldetailkomponen .input-detail tbody').append(tr);
                if (isetup.form['_PROCESS'].value != 'VIEW') {
                    isetup.DetailKomponenClave.push({
                        id: x.Id,
                        harga: new Cleave($('#modaldetailkomponen .input-detail tbody tr:last .Harga')[0], {
                            numeral: true,
                            numeralThousandsGroupStyle: 'thousand'
                        }),
                        hargahc: new Cleave($('#modaldetailkomponen .input-detail tbody tr:last .HargaHC')[0], {
                            numeral: true,
                            numeralThousandsGroupStyle: 'thousand'
                        })
                    });
                }
            });
            $('#modaldetailkomponen').modal({ backdrop: 'static' });
            $('.modal-backdrop:last').css('z-index', $('#modaldetailkomponen').css('z-index') - 1);
        }

        isetup.detailkomponenonsubmit = e => {
            e.preventDefault();
            let jumharga = 0;
            let jumhargahc = 0;
            $('#modaldetailkomponen .input-detail tbody tr').each((i, v) => {
                const id = $(v).data('id');
                const harga = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).harga.getRawValue()) || 0;
                const hargahc = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).hargahc.getRawValue()) || 0;
                isetup.DetailKomponen.find(x => x.JasaId === isetup.DetailActhive && x.Id === id).Harga = harga;
                isetup.DetailKomponen.find(x => x.JasaId === isetup.DetailActhive && x.Id === id).HargaHC = hargahc;
                jumharga += harga;
                jumhargahc += hargahc;
            });
            $(isetup.form).find(`.input-detail tr[data-id="${isetup.DetailActhive}"] .Harga`).html(getcurrencyfromfloat(jumharga) || '0');
            $(isetup.form).find(`.input-detail tr[data-id="${isetup.DetailActhive}"] .HargaHC`).html(getcurrencyfromfloat(jumhargahc) || '0');
            isetup.hitungjumlah($(isetup.form).find(`.input-detail tr[data-id="${isetup.DetailActhive}"] .Qty`)[0]);
            $('#modaldetailkomponen').modal('hide');
        };
    });
</script>