﻿@using Admin.Helper;
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Item Komponen Jasa</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group " id="KomponenBiayaID">
                            <label class="col-md-2 control-label">ID </label>
                            <div class="col-md-10">
                                <input type="text" name="KomponenBiayaID" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Deskripsi</label>
                            <div class="col-md-10">
                                <input type="text" required name="KomponenName" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Kelompok Akun</label>
                            <div class="col-md-8">
                                <select name="KelompokAkun" class="form-control create-clear">
                                    @Html.Raw(HList.ListKelompokAkun)
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Postingan Ke</label>
                            <div class="col-md-8">
                                <select name="PostinganKe" class="form-control create-clear">
                                    @Html.Raw(HList.ListPostinganKe)
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Hutang Kepada</label>
                            <div class="col-md-8">
                                <select name="HutangKe" class="form-control create-clear">
                                    @Html.Raw(HList.ListHutangKe)
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Kelompok Jasa</label>
                            <div class="col-md-8">
                                <select name="KelompokJasa" class="form-control create-clear">
                                    @Html.Raw(HList.ListKelompokJasa)
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun HPP</label>
                            <div class="col-md-8">
                                <select name="AkunNoHPP" class="form-control create-clear" >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun Lawan HPP</label>
                            <div class="col-md-8">
                                <select name="AkunLawanHPP" class="form-control create-clear">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <input type="checkbox" name="ExcludeCostRS" />
                                ExcludeCostRS
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <input type="checkbox" name="IncludeInsentif" />
                                IncludeInsentif
                            </label>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value sync get contreller
                    t['KomponenBiayaID'].value = r.Data.KomponenBiayaID;
                    t['KomponenName'].value = r.Data.KomponenName;
                    t['KelompokAkun'].value = r.Data.KelompokAkun;
                    t['PostinganKe'].value = r.Data.PostinganKe;
                    t['HutangKe'].value = r.Data.HutangKe;
                    t['KelompokJasa'].value = r.Data.KelompokJasa;
                    t['AkunNoHPP'].value = r.Data.AkunNoHPP;
                    t['AkunLawanHPP'].value = r.Data.AkunLawanHPP;
                    t['ExcludeCostRS'].checked = r.Data.ExcludeCostRS;
                    t['IncludeInsentif'].checked = r.Data.IncludeInsentif;
                    //get selection or lookup
                    if (r.Data.AkunNoHPP) {
                        const option = new Option(r.Data.AkunNoHPP, r.Data.AkunNoHPPName, true, true);
                        $(t['AkunNoHPP']).append(option);
                    }
                    if (r.Data.AkunLawanHPP) {
                        const option = new Option(r.Data.AkunLawanHPP, r.Data.AkunLawanHPP, true, true);
                        $(t['AkunLawanHPP']).append(option);
                    }

                    isetup.init();
                    isetup.modal.modal({ backdrop: 'static' });

                    //$('#KelasID').removeClass('hidden');


                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param sync model
                        KomponenBiayaID: t['KomponenBiayaID'].value,
                        KomponenName: t['KomponenName'].value,
                        KelompokAkun: t['KelompokAkun'].value,
                        KelompokJasa: t['KelompokJasa'].value,
                        PostinganKe: t['PostinganKe'].value,
                        AkunNoHPP: t['AkunNoHPP'].value,
                        AkunNoLawanHPP: t['AkunLawanHPP'].value,
                        IncludeInsentif: t['IncludeInsentif'].checked,
                        ExcludeCostRS: t['ExcludeCostRS'].checked,
                        HutangKe: t['HutangKe'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="KelasID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {

                isetup.init();
            },
        });

        $(isetup.form['KelompokAkun']).select2();
        $(isetup.form['PostinganKe']).select2();
        $(isetup.form['HutangKe']).select2();
        $(isetup.form['KelompokJasa']).select2();

        $(isetup.form['AkunNoHPP']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ItemKomponenData_AkunHPP", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.Header
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        //validasi header lookup akunHPP 
        $(isetup.form['AkunNoHPP']).on('select2:selecting', (e) => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });

        $(isetup.form['AkunLawanHPP']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ItemKomponenData_AkunLawanHPP", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.Header
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        //validasi header lookup akunLawanHPP
        $(isetup.form['AkunLawanHPP']).on('select2:selecting', (e) => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });






    });
</script>