﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Mechan</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Akun_ID" />
                        <div class="form-group">
                            <label class="col-md-3 control-label">ID</label>
                            <div class="col-md-9">
                                <input type="text" required name="ID" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nama Bank</label>
                            <div class="col-md-9">
                                <input type="text" required name="NamaBank" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">No Rek</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" name="Akun_Akun_No" class="form-control all-readonly" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary view-disabled" onclick="itablelookuprekening.openmodal()"><i class="icon-search4"></i></button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default view-disabled" onclick="itablelookuprekening.clear()"><i class="icon-eraser2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="text" required name="Akun_Akun_Name" class="form-control all-readonly" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">AddCharge Debet</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required name="AddCharge_Debet" class="form-control" maxlength="100" />
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">AddCharge Kredit</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required name="AddCharge_Kredit" class="form-control" maxlength="100" />
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Diskon</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required name="Diskon" class="form-control" maxlength="100" />
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                        <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;
                    // detail value
                    t['ID'].value = r.Data.ID;
                    t['NamaBank'].value = r.Data.NamaBank;
                    t['Akun_ID'].value = r.Data.Akun_ID;
                    t['Akun_Akun_No'].value = r.Data.Akun_Akun_No;
                    t['Akun_Akun_Name'].value = r.Data.Akun_Akun_Name;
                    t['AddCharge_Debet'].value = r.Data.AddCharge_Debet;
                    t['AddCharge_Kredit'].value = r.Data.AddCharge_Kredit;
                    t['Diskon'].value = r.Data.Diskon;
                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        ID: t['ID'].value,
                        NamaBank: t['NamaBank'].value,
                        Akun_ID: t['Akun_ID'].value,
                        Akun_Akun_No: t['Akun_Akun_No'].value,
                        Akun_Akun_Name: t['Akun_Akun_Name'].value,
                        AddCharge_Debet: t['AddCharge_Debet'].value,
                        AddCharge_Kredit: t['AddCharge_Kredit'].value,
                        Diskon: t['Diskon'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="ID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }
        });
    });
</script>