﻿@using Admin.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Diskon</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Id" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Nama" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama Internasional</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="NamaInternasional" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Akun</label>
                                    <div class="col-md-9">
                                        <select required name="Akun" class="form-control create-clear"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Dengan Petugas</label>
                                    <div class="col-md-9">
                                        <select required name="DenganPetugas" class="form-control">
                                            @Html.Raw(HList.Other_Diskon_DenganPetugas)
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="DiskonTotal" />
                                            Diskon Total
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="DiskonTidakLangsung" />
                                            Diskon Tidak Langsung
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Diskon Group Jasa</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="DiskonGroupJasaCheck" onchange="isetup.DiskonGroupJasaCheckOnchange()" />
                                            </div>
                                            <select name="DiskonGroupJasa" class="form-control create-clear"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Diskon Komponen</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="DiskonKomponenCheck" onchange="isetup.DiskonKomponenCheckOnchange()"/>
                                            </div>
                                            <select name="DiskonKomponen" class="form-control create-clear"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="ExceptionJasa" />
                                            Exception Jasa
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupjasa.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['Nama'].value = r.Data.Nama;
                    t['NamaInternasional'].value = r.Data.NamaInternasional;
                    t['Akun'].value = r.Data.Akun;
                    t['DenganPetugas'].value = r.Data.DenganPetugas;
                    t['DiskonTotal'].value = r.Data.DiskonTotal;
                    t['DiskonTidakLangsung'].value = r.Data.DiskonTidakLangsung;
                    t['DiskonGroupJasaCheck'].checked = r.Data.DiskonGroupJasaCheck;
                    t['DiskonGroupJasa'].value = r.Data.DiskonGroupJasa;
                    t['DiskonKomponenCheck'].checked = r.Data.DiskonKomponenCheck;
                    t['DiskonKomponen'].value = r.Data.DiskonKomponen;
                    t['ExceptionJasa'].value = r.Data.ExceptionJasa;

                    if (r.Data.Akun) {
                        const option = new Option(`${r.Data.Akun} - ${r.Data.AkunNama}`, r.Data.Akun, true, true);
                        $(t['Akun']).append(option);
                    }
                    if (r.Data.DiskonGroupJasa) {
                        const option = new Option(`${r.Data.DiskonGroupJasaNama}`, r.Data.DiskonGroupJasa, true, true);
                        $(t['DiskonGroupJasa']).append(option);
                    }
                    if (r.Data.DiskonKomponen) {
                        const option = new Option(`${r.Data.DiskonKomponenNama}`, r.Data.DiskonKomponen, true, true);
                        $(t['DiskonKomponen']).append(option);
                    }

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Id,
                            value.Nama,
                            value.Satuan,
                            value.Qty,
                            value.Konversi
                        );
                    });

                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(isetup.form['Id']).attr('readonly', 'readonly');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Nama: t['Nama'].value,
                        NamaInternasional: t['NamaInternasional'].value,
                        Akun: t['Akun'].value,
                        DenganPetugas: t['DenganPetugas'].value,
                        DiskonTotal: t['DiskonTotal'].value,
                        DiskonTidakLangsung: t['DiskonTidakLangsung'].value,
                        DiskonGroupJasaCheck: t['DiskonGroupJasaCheck'].checked,
                        DiskonGroupJasa: t['DiskonGroupJasa'].value,
                        DiskonKomponenCheck: t['DiskonKomponenCheck'].checked,
                        DiskonKomponen: t['DiskonKomponen'].value,
                        ExceptionJasa: t['ExceptionJasa'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id')
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                isetup.DiskonGroupJasaCheckOnchange();
                isetup.DiskonKomponenCheckOnchange();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['DenganPetugas']).select2();

        $(isetup.form['Akun']).select2({
            ajax: {
                url: "@Url.Action("Other_Diskon_Akun", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: `${value.Kode} - ${value.Nama}`,
                                    header : value.Header
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['DiskonGroupJasa']).select2({
            ajax: {
                url: "@Url.Action("Other_Diskon_GroupJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['DiskonKomponen']).select2({
            ajax: {
                url: "@Url.Action("Other_Diskon_Komponen", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['Akun']).on('select2:selecting', e => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih adalah akun induk silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });

        isetup.DiskonGroupJasaCheckOnchange = () => {
            if (isetup.form['_PROCESS'].value === 'VIEW') return;
            if (isetup.form['DiskonGroupJasaCheck'].checked) {
                $(isetup.form['DiskonGroupJasa']).removeAttr('disabled');
                isetup.form['DiskonKomponenCheck'].checked = false;
                $(isetup.form['DiskonKomponenCheck']).trigger('change');
            } else {
                isetup.form['DiskonGroupJasa'].value = '';
                $(isetup.form['DiskonGroupJasa']).trigger('change');
                $(isetup.form['DiskonGroupJasa']).attr('disabled', 'disabled');
            }
        };

        isetup.DiskonKomponenCheckOnchange = () => {
            if (isetup.form['_PROCESS'].value === 'VIEW') return;
            if (isetup.form['DiskonKomponenCheck'].checked) {
                $(isetup.form['DiskonKomponen']).removeAttr('disabled');
                isetup.form['DiskonGroupJasaCheck'].checked = false;
                $(isetup.form['DiskonGroupJasaCheck']).trigger('change');
            } else {
                isetup.form['DiskonKomponen'].value = '';
                $(isetup.form['DiskonKomponen']).trigger('change');
                $(isetup.form['DiskonKomponen']).attr('disabled', 'disabled');
            }
        };

        isetup.adddetailbody = (id, nama) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + id + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };
    });
</script>