﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Asuransi</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group hidden" id="AsuransiID">
                            <label class="col-md-2 control-label">ID</label>
                            <div class="col-md-10">
                                <input type="text" name="Asuransi_ID" class="form-control" maxlength="100"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Deskripsi</label>
                            <div class="col-md-10">
                                <input type="text" required name="Asuransi_Name" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">MarkUp</label>
                            <div class="col-md-6">
                                <input type="text" required name="MarkUp_Prosen" class="form-control" maxlength="100" />
                            </div>
                            <label class="checkbox-inline col-md-3 col-md-offset-1">
                                <input type="checkbox" name="TermasukObat" />
                                Termasuk Obat
                            </label>
                        </div>
                        <div class="form-group">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered input-detail">
                                    <thead>
                                        <tr>
                                            <td style="width:50px;" class="text-center view-hide">
                                                <a onclick="itablelookupjasa.openmodal()"><i class="icon icon-plus2"></i></a>
                                            </td>
                                            <td style="width:100px;">
                                                ID Jasa
                                            </td>
                                            <td>Nama Jasa</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;
                    // value
                    t['Asuransi_ID'].value = r.Data.Asuransi_ID;
                    t['Asuransi_Name'].value = r.Data.Asuransi_Name;
                    t['MarkUp_Prosen'].value = r.Data.MarkUp_Prosen;
                    t['TermasukObat'].value = r.Data.TermasukObat;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.JasaID,
                            value.JasaName,
                        );
                    });
                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Asuransi_ID: t['Asuransi_ID'].value,
                        Asuransi_Name: t['Asuransi_Name'].value,
                        MarkUp_Prosen: t['MarkUp_Prosen'].value,
                        TermasukObat: t['TermasukObat'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                JasaID: $(value).data('id'),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('#AsuransiID').removeClass('hidden');
                    $('input[name="Asuransi_ID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        isetup.adddetailbody = (jasaid, jasaname) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + jasaid + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + jasaid + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + jasaid + '</td>';
            _detail += '<td class="td-text">' + jasaname + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };
    });
</script>