﻿<div id="modallookupuser" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User</h4>
            </div>
            <form id="lookupuser">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupuser.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="User_ID" style="width:80px;">ID<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama">Username<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Asli">Nama Asli<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupuser.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupuser;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupuser = new iTable({
            url: '@Url.Action("ListUser")',
            table: document.getElementById('lookupuser'),
            orderby: 'User_ID',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').append('');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupuser.detailactive(this)">';

                        // column
                        tbody += `<td>${value.Id}</td>`;
                        tbody += `<td>${value.Username}</td>`;
                        tbody += `<td>${value.NamaAsli}</td>`;

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookupuser.openmodal = function(t) {
            itablelookupuser.refresh();
            $('#modallookupuser').modal();
            $('.modal-backdrop:last').css('z-index',$('#modallookupuser').css('z-index') - 1);
        }

        itablelookupuser.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupuser.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupuser.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            isetup.form['User'].value = model.Id;
            isetup.form['Username'].value = model.Username;
            isetup.form['NamaAsli'].value = model.NamaAsli;
            $(t).closest('.modal').modal('hide');
        }

        $('#modallookupuser').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>