﻿@using Admin.Helper
@{
    ViewBag.Title = "Vendor";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" data-itable-filter="All" class="form-control" placeholder="Type to filter...">
            </div>
            <div class="col-md-2">
                <label class="control-label">Kategori</label>
                <select id="kategori" data-itable-filter="Kategori" onchange="itable.refresh()"></select>
            </div>
            <div class="col-md-2">
                <label control-label">Spesialis</label>
                <select id="spesialis" data-itable-filter="Spesialis" onchange="itable.refresh()"></select>
            </div>
            <div class="col-md-2">
                <label>Show</label>
                <select class="form-control itable-pagesize" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header form-horizontal">
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting" data-itable-sorting="Kode_Supplier" style="width:100px;">Kode Vendor<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Supplier">Nama Vendor<i></i></th>
                            <th class="sorting" data-itable-sorting="Alamat_1">Alamat<i></i></th>
                            <th class="sorting" data-itable-sorting="No_Telepon_1">No Telepon<i></i></th>
                            <th class="sorting" data-itable-sorting="KatVendor_Kategori_Name">Kategori<i></i></th>
                            <th class="sorting" data-itable-sorting="Spesialis_SpesialisName">Spesialis<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    $('#kategori').select2();
    $('#spesialis').select2();
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Kode_Supplier',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="3" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += '<td class="hidden">' + value.Supplier_ID + '</td>';
                        tbody += '<td>' + value.Kode_Supplier + '</td>';
                        tbody += '<td>' + value.Nama_Supplier + '</td>';
                        tbody += '<td>' + value.Alamat_1 + '</td>';
                        tbody += '<td>' + value.No_Telepon_1 + '</td>';
                        tbody += '<td>' + value.KatVendor_Kategori_Name + '</td>';
                        tbody += '<td>' + value.Spesialis_SpesialisName + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.Supplier_ID + '\'})"><i class="icon-pencil"></i> Edit</a></li>';
                        tbody += '<li><a href="javascript:isetupduplicate.opensetup(\'EDIT\',{ id : \'' + value.Supplier_ID + '\'})"><i class="icon-pen-plus"></i> Duplicate</a></li>';
                        tbody += '<li><a href="javascript:isetup.opensetup(\'DELETE\',{ id : \'' + value.Supplier_ID + '\'})"><i class="icon-trash"></i> Delete</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    //if (r.Data.Spesialis_SpesialisName) {
                    //    const option = new Option(`${r.Data.SpesialisName}`, r.Data.SpesialisID, true, true);
                    //    $(t['Spesialis_SpesialisName']).append(option);
                    //}

                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        //if ($('#kategori').select2() == $("#kategori").select2('val')) {
        //    itable.refresh();
        //}

        itable.refresh();
    });

    $('#spesialis').select2({
            ajax: {
                url: "@Url.Action("Vendor_Vendor_Spesialis_List", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
    });

    $('#kategori').select2({
            ajax: {
                url: "@Url.Action("Other_KategoriVendor_List", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
    });

</script>


@Html.Partial("Setup")
@Html.Partial("SetupDuplicate")
@Html.Partial("_LookUpPersonal")
