﻿@using Admin.Helper;
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Kategori Jasa</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group hidden" id="KategoriJasaID">
                            <label class="col-md-2 control-label">ID</label>
                            <div class="col-md-10">
                                <input type="text" name="KategoriJasaID" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Deskripsi</label>
                            <div class="col-md-10">
                                <input type="text" required name="KategoriJasaName" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama International</label>
                            <div class="col-md-10">
                                <input type="text" required name="NamaInternational" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Group Jasa</label>
                            <div class="col-md-8">
                                <select required name="GroupJasa" class="form-control create-clear" maxlength="100">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value sync get contreller
                    t['KategoriJasaID'].value = r.Data.KategoriJasaID;
                    t['KategoriJasaName'].value = r.Data.KategoriJasaName;
                    t['NamaInternational'].value = r.Data.NamaInternational;
                    t['GroupJasa'].value = r.Data.GroupJasa;
                 
                
                    //get selection or lookup
                    if (r.Data.GroupJasa) {
                        const option = new Option(r.Data.GroupJasaName, r.Data.GroupJasa, true, true);
                        $(t['GroupJasa']).append(option).trigger('change');
                    }
                    

                    isetup.init();
                    isetup.modal.modal({ backdrop: 'static' });

                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param sync model
                        KategoriJasaID: t['KategoriJasaID'].value,
                        KategoriJasaName: t['KategoriJasaName'].value,
                        NamaInternational: t['NamaInternational'].value,
                        GroupJasa: t['GroupJasa'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="KategoriJasaID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {

                isetup.init();
            },
        });

        
        //lookuphelper
        $(isetup.form['GroupJasa']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_ListGroupJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.HonorDokter

                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });
       

        ////validasi header lookup
        //$(isetup.form['AkunNoRJ']).on('select2:selecting', (e) => {
        //    if (e.params.args.data.header) {
        //        alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
        //        e.preventDefault();
        //    }
        //});
        //$(isetup.form['AkunNoRI']).on('select2:selecting', (e) => {
        //    if (e.params.args.data.header) {
        //        alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
        //        e.preventDefault();
        //    }
        //});
        //$(isetup.form['AKunNoUGD']).on('select2:selecting', (e) => {
        //    if (e.params.args.data.header) {
        //        alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
        //        e.preventDefault();
        //    }
        //});
        //$(isetup.form['AkunNoOnCall']).on('select2:selecting', (e) => {
        //    if (e.params.args.data.header) {
        //        alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
        //        e.preventDefault();
        //    }
        //});
        //$(isetup.form['AkunNoMA']).on('select2:selecting', (e) => {
        //    if (e.params.args.data.header) {
        //        alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
        //        e.preventDefault();
        //    }
        //});


    });
</script>