﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Jenis Pembayaran</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Id</label>
                                    <div class="col-md-10">
                                        <input type="number" required name="Id" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nama</label>
                                    <div class="col-md-10">
                                        <input type="text" required name="Nama" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">No Urut</label>
                                    <div class="col-md-10">
                                        <input type="number" required name="NoUrut" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Rekening</label>
                                    <div class="col-md-9">
                                        <select name="Rekening" required class="form-control create-clear"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kelompok Posting</label>
                                    <div class="col-md-9">
                                        <input type="text" name="KelompokPosting" class="form-control" readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="Jenis" id="Cash"/>
                                            Cash
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="Jenis" id="KartuKredit"/>
                                            Kartu Kredit
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="Jenis" id="Bank"/>
                                            Bank
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="Jenis" id="Jaminan"/>
                                            Jaminan
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="Jenis" id="Other"/>
                                            Other
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="KerjasamaOnly" />
                                            Kerjasama Only
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="HCOnly" />
                                            HC Only
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">&nbsp;</label>
                                    <div class="col-md-10">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="AsuransiOnly" />
                                            Asuransi Only
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['Id'].value = r.Data.Id;
                    t['Nama'].value = r.Data.Nama;
                    t['NoUrut'].value = r.Data.NoUrut;
                    t['Rekening'].value = r.Data.Rekening;
                    t['KelompokPosting'].value = r.Data.KelompokPosting;
                    $(isetup.form).find('#Cash')[0].checked = r.Data.Cash;
                    $(isetup.form).find('#Bank')[0].checked = r.Data.Bank;
                    $(isetup.form).find('#KartuKredit')[0].checked = r.Data.KartuKredit;
                    $(isetup.form).find('#Jaminan')[0].checked = r.Data.Jaminan;
                    $(isetup.form).find('#Other')[0].checked = r.Data.Other;
                    t['KerjasamaOnly'].checked = r.Data.KerjasamaOnly;
                    t['HCOnly'].checked = r.Data.HCOnly;
                    t['AsuransiOnly'].checked = r.Data.AsuransiOnly;

                    isetup.init();

                    if (r.Data.Rekening) {
                        const option = new Option(`${r.Data.RekeningKode} - ${r.Data.RekeningNama}`, r.Data.Rekening, true, true);
                        $(t['Rekening']).append(option);
                    }

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(t['Id']).attr('readonly', 'readonly');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Nama: t['Nama'].value,
                        NoUrut: t['NoUrut'].value,
                        Rekening: t['Rekening'].value,
                        KelompokPosting: t['KelompokPosting'].value,
                        Cash: $(isetup.form).find('#Cash')[0].checked,
                        Bank: $(isetup.form).find('#Bank')[0].checked,
                        KartuKredit: $(isetup.form).find('#KartuKredit')[0].checked,
                        Jaminan: $(isetup.form).find('#Jaminan')[0].checked,
                        Other: $(isetup.form).find('#Other')[0].checked,
                        KerjasamaOnly: t['KerjasamaOnly'].checked,
                        HCOnly: t['HCOnly'].checked,
                        AsuransiOnly: t['AsuransiOnly'].checked,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }
        });

        $(isetup.form['Rekening']).select2({
            ajax: {
                url: "@Url.Action("Other_JenisPembayaran_Rekening", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, index) { return { id: value.Id, text: value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });
    });
</script>