﻿@using Microsoft.AspNet.Identity
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Menu"></i></li>
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i> <span>Home</span></a></li>
                    }
                    <li>
                        <a href="#" class="has-ul"><i class="icon-cart5"></i> <span>Jasa</span></a>
                        <ul class="hidden-ul">
                            <li><a href="@Url.Action("Index", "JasaKategoriOperasi")">Kategori Operasi</a></li>
                            <li><a href="@Url.Action("Index", "JasaKelas")">Kelas</a></li>
                            <li><a href="@Url.Action("Index", "JasaAlat")">Setup Alat</a></li>
                            <li><a href="@Url.Action("Index", "JasaItemKomponenJasa")">Item Komponen Jasa</a></li>
                            <li><a href="@Url.Action("Index", "JasaGroupJasa")">Group Jasa</a></li>
                            <li><a href="@Url.Action("Index", "JasaKategoriJasa")">Kategori Jasa</a></li>
                            <li><a href="@Url.Action("Index", "JasaJasa")">Jasa</a></li>
                            <li><a href="@Url.Action("Index", "JasaJasaYangTidakMasukHonor")">Jasa Yang Tidak Masuk Honor</a></li>
                            <li><a href="@Url.Action("Index", "JasaDetailMCUPaket")">Detail MCU/Paket</a></li>
                            <li><a href="@Url.Action("Index", "JasaGapah")">Setup Gapah</a></li>
                            <li><a href="@Url.Action("Index", "JasaJenisLuka")">Setup Jenis Luka</a></li>
                            <li><a href="@Url.Action("Index", "JasaRuangOK")">Setup Ruang OK</a></li>
                            <li><a href="@Url.Action("Index", "JasaIndikasiVK")">Setup Indikasi VK</a></li>
                            <li><a href="@Url.Action("Index", "JasaICD")">Setup ICD</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-ul"><i class="icon-store"></i> <span>Vendor</span></a>
                        <ul class="hidden-ul">
                            <li><a href="@Url.Action("Index", "VendorVendor")">Vendor</a></li>
                            <li><a href="@Url.Action("Index", "VendorKategoriVendor")">Kategori Vendor</a></li>
                            <li><a href="@Url.Action("Index", "VendorSpesialisasi")">Spesialisasi</a></li>
                            <li><a href="@Url.Action("Index", "VendorHoby")">Hoby</a></li>
                            <li><a href="@Url.Action("Index", "VendorAsuransi")">Asuransi</a></li>
                            <li><a href="@Url.Action("Index", "VendorKomisiObat")">Komisi Obat</a></li>
                            <li><a href="@Url.Action("Index", "VendorHargaJasaLuar")">Harga Jasa Luar</a></li>
                            <li><a href="@Url.Action("Index", "VendorMarchan")">Merchan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-ul"><i class="icon-stack2"></i> <span>Other</span></a>
                        <ul class="hidden-ul">
                            <li><a href="@Url.Action("Index", "OtherJenisLayanan")">Jenis Layanan</a></li>
                            <li><a href="@Url.Action("Index", "OtherKelompokSection")">Kelompok Section</a></li>
                            <li><a href="@Url.Action("Index", "OtherSection")">Section</a></li>
                            <li><a href="@Url.Action("Index", "OtherGradingHargaObat")">Grading Harga Obat</a></li>
                            <li><a href="@Url.Action("Index", "OtherPaketObat")">Paket Obat</a></li>
                            <li><a href="@Url.Action("Index", "OtherPaketBHP")">Paket BHP</a></li>
                            <li><a href="@Url.Action("Index", "OtherJenisAnastesi")">Jenis Anastesi</a></li>
                            <li><a href="@Url.Action("Index", "OtherJenisPembayaran")">Jenis Pembayaran</a></li>
                            <li><a href="@Url.Action("Index", "OtherKamar")">Kamar</a></li>
                            <li><a href="@Url.Action("Index", "OtherDiskon")">Diskon</a></li>
                            <li><a href="@Url.Action("Index", "OtherJamWaktuPraktek")">Jam/Waktu Praktek</a></li>
                            <li><a href="@Url.Action("Index", "OtherOtorisasiUserKhusus")">Otorisasi User Khusus</a></li>
                            <li><a href="@Url.Action("Index", "OtherApprovalUser")">Approval User</a></li>
                            <li><a href="@Url.Action("Index", "OtherAwalSystem")">Awal System</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-ul"><i class="icon-file-text"></i> <span>Setup</span></a>
                        <ul class="hidden-ul">
                            <li><a href="@Url.Action("Index", "SReport")">Setup SReport</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>