﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Kelas</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group " id="KelasID">
                            <label class="col-md-2 control-label">ID Kelas</label>
                            <div class="col-md-10">
                                <input type="text" name="KelasID" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama Kelas</label>
                            <div class="col-md-10">
                                <input type="text" required name="NamaKelas" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nomor</label>
                            <div class="col-md-10">
                                <input type="text" required name="Nomor" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <input type="checkbox"  name="Active"/>
                                Active
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['KelasID'].value = r.Data.KelasID;
                    t['NamaKelas'].value = r.Data.NamaKelas;
                    t['Nomor'].value = r.Data.Nomor;
                    t['Active'].value = r.Data.Active;
                    isetup.init();
                    isetup.modal.modal({ backdrop: 'static' });

                    //$('#KelasID').removeClass('hidden');
                    

                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param
                        KelasID: t['KelasID'].value,
                        NamaKelas: t['NamaKelas'].value,
                        Nomor: t['Nomor'].value,
                        Active: t['Active'].checked,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="KelasID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {
            
                isetup.init();
            }
        });
    });
</script>